@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #0B1020;
  color: #F8FAFC;
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}

/* smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111827;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 999px;
}